# Introduction to python

In [1]:
import pandas as pd

In [3]:
import pandas as pd
dtypes = pd.DataFrame({'Type': ['int8', 'uint8', 'int16', 'uint16', 'int32', 'uint32', 'int64', 'uint64','float16 f2','float128 ',
'float32','float64'],
 'Type Code': ['i1', 'u1', 'i2', 'u2', 'i4', 'u4', 'i8', 'u8', 'f2', 'f4 or f', 'f8 or d','f16 or g']
 })
dtypes

          Type Type Code
0         int8        i1
1        uint8        u1
2        int16        i2
3       uint16        u2
4        int32        i4
5       uint32        u4
6        int64        i8
7       uint64        u8
8   float16 f2        f2
9    float128    f4 or f
10     float32   f8 or d
11     float64  f16 or g

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import numpy as np

# Read the dataset
df = pd.read_excel('Sales Dataset .xlsx', engine='calamine')

# Convert Order Date to datetime
df['Order Date'] = pd.to_datetime(df['Order Date'])

# Create monthly sales aggregation
monthly_sales = df.groupby(df['Order Date'].dt.to_period('M')).agg({'Sales': 'sum'}).reset_index()
monthly_sales['Order Date'] = monthly_sales['Order Date'].astype(str)
monthly_sales['Order Date'] = pd.to_datetime(monthly_sales['Order Date'])

# Create quarterly sales aggregation
df['Quarter'] = df['Order Date'].dt.quarter
df['Year'] = df['Order Date'].dt.year
quarterly_sales = df.groupby(['Year', 'Quarter'])['Sales'].sum().reset_index()

# Plot monthly sales trend
plt.figure(figsize=(15, 6))
plt.plot(monthly_sales['Order Date'], monthly_sales['Sales'])
plt.title('Monthly Sales Revenue Over Time')
plt.xlabel('Date')
plt.ylabel('Sales Revenue')
plt.grid(True)
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

# Calculate average sales by month
monthly_avg = df.groupby(df['Order Date'].dt.month)['Sales'].mean()

# Plot average sales by month
plt.figure(figsize=(10, 6))
plt.bar(range(1, 13), monthly_avg)
plt.title('Average Sales by Month')
plt.xlabel('Month')
plt.ylabel('Average Sales')
plt.xticks(range(1, 13))
plt.grid(True, axis='y')
plt.show()

# Print some key statistics
print("\
Top 3 Months by Average Sales:")
top_months = monthly_avg.sort_values(ascending=False).head(3)
for month, sales in top_months.items():
    print(f"Month {month}: ${sales:.2f}")

print("\
Quarterly Analysis:")
quarterly_avg = df.groupby('Quarter')['Sales'].mean()
for quarter, sales in quarterly_avg.items():
    print(f"Q{quarter}: ${sales:.2f}")